<!-- blog/templates/blog/about.html -->

{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
    <h2 class="page-header">About</h2>
      <h2>MentalHeal</h2>
    <div class="jumbotron">
      <div class="container">
        <h1>Hola, Mundo!</h1>
        <p>MentalHeal es un proyecto realizado por estudiantes de Ingenieria en Sistemas y Computacion pertenecientes a la Universidad Tecnologica de Pereira(UTP), para la clase Laboratorio de Software dirigida por la Ingeniera Paula Andrea Villa</p>
       </div>
      </div>
      <button type="submit" class="btn btn-primary" onclick="history.back()">Atras</button>
{% endblock content %}