<!-- home/templates/home/index.html -->

{% extends 'base.html' %}

{% block title %}Mental Heal{% endblock title %}

{% block content %}
    <h2>MentalHeal</h2>
    <div class="jumbotron">
      <div class="container">
        <h1>Hola, Mundo!</h1>
        <p>MentalHeal es un proyecto realizado por estudiantes de Ingenieria en Sistemas y Computacion pertenecientes a la Universidad Tecnologica de Pereira(UTP), para la clase Laboratorio de Software dirigida por la Ingeniera Paula Andrea Villa</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'home.about' %}" role="button">Leer Mas &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

{% endblock content %}