<!-- templates/base.html -->

<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'jquery/jquery.js' %}">
    <link rel="stylesheet" href="{% static 'js/main.js' %}">
</head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a  class="navbar-brand" href="{% url 'home.index' %}">MentalHeal</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if not user.is_authenticated %}
          <ul class="nav navbar-nav">
            <li><a href="{% url 'accounts.login' %}">Inicio</a></li>
            <li><a href="{% url 'accounts.registro' %}">Registrarse</a></li>
            <li><a href="{% url 'home.about' %}">About</a></li>
            <li><a href="{% url 'home.contact' %}">Contact</a></li>
            {% endif %}
          </ul>
          {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
              <li><a href="{% url 'accounts.login' %}">Inicio</a></li>
              <li><a href="{% url 'home.about' %}">About</a></li>
              <li><a href="{% url 'home.contact' %}">Contact</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'accounts.index' %}">{{ user.get_full_name }}</a></li>
                <li><a href="{% url 'accounts.logout' %}">Salir</a></li>
              </ul>
            {% endif %}
          <ul class="nav navbar-nav navbar-right">
        </div><!--/.navbar-collapse -->
    </nav>

    
    <div class="container">
        {% include "_messages.html" %}
        {% block content %}{% endblock content %}
          <hr>
          <footer>
          <p>&copy; 2016 Laboratorio de Software Grupo 2, UTP.</p>
          </footer>
    </div> <!-- /.container -->

    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>