<!-- accounts/templates/accounts/recuperar_msj.html -->

{% extends 'base.html' %}

{% block title %}Recuperar Contraseña{% endblock title %}

{% block content %}
<div class="page-header"><h2><h2>Recuperar Contraseña</h2></div>
    <div class="jumbotron">
      <div class="container">
        <h3>Hola, se te a enviado un correo a {{ email }}</h3>
        <p>Para recuperar tu contraseña por favor utliza el enlace de tu correo </p>
       </div>
      </div>
       <p><a class="btn btn-primary btn-lg" href="{% url 'home.index' %}" role="button">MentalHeal</a></p>
     
   
{% endblock content %}