

{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block link%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
  {{ form.media }}
{% endblock link %}

{% block title %}Registro de usuario{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="page-header">
                <h2>Registro Usuario</h2>
            </div>

            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
    </div>
{% endblock content %}